<form class="" action="/admin" method="post">
  <div class="form-group">
    <label for="identifier">Identifier</label>
    <input class="form-control" type="text" name="identifier">
  </div>
  <div class="form-group">
    <label for="driver">Driver</label>
    <input class="form-control" type="text" name="driver">
  </div>
  <div class="form-group">
    <label for="num_cars">Number of cars</label>
    <input class="form-control" type="number" name="num_cars">
  </div>
  <button class="form-control" type="submit">Submit</button>
</form>
