<div class="col-md-6">
  <h4>Active Trains</h4>
  <ul>
    <% @trains.each() do |train| %>
      <li><a href="/trains/<%= train.id() %>"><%= train.identifier() %></a></li>
    <% end %>
  </ul>
</div>
<div class="col-md-6">
  <div class="col-md-6">
    <h4>Cities</h4>
    <ul>
      <% @cities.each() do |city| %>
        <li><a href="/cities/<%= city.id() %>"><%= city.name() %></a></li>
      <% end %>
    </ul>
  </div>
</div>
